

<div id="wfediv" style="border: 2px solid blue">
<div id="docdiv">
<form id="doc" name="doc" method="post" action="">
<table>
<tr><td>campo1</td><td><input type="text" wfe-data="campo1" name="campo1" id="campo1"  /></td></tr>
<tr><td>campo2</td><td><input type="text" id="campo2" /></td></tr>
<tr><td>campo3</td><td><input type="text" id="campo3" /></td></tr>
<tr><td>campo4</td><td><input type="text" id="campo4" /></td></tr>

</table>
</div>
</form>
<form id="wfe" name="wfe" method="post" action="">
<div class="wfefields" style="border:1px solid silver; padding: 2px;">
<div class="actions">
 <table>
 <tr>
 <%
   var act=data.wfe.actions; 
   for (var i=0; i<act.length; i++){
    var buttonid=act[i].endstatus;
   %>
   <td><input type="button" onclick="doAction(this.id)" id="<%= buttonid %>" value="<%= act[i].description %>"/></td>
   
   <!--
   
   <td>
   <div class="link-button-wrapper">
    <a href="wfe/doaction/here">
        <h1><%= act[i].description %></h1>
    </a>
   </div>
   </td> -->
   <%
   
   }
   
   %>
   </tr>
 
 </table>

</div>


<table border="1">
value=""></td></tr>
<%
  var dat=data.wfe;
  for (var k in dat) {
   if (!Array.isArray(dat[k]))
   if (1==1)
   {
    
%>
  <tr><td><i><%= k %></i></td><td><input type="text" name="<%=k%>"  id="<%=k%>" value="<%= dat[k] %>" /></td></tr>  
  
 <% 
 }
  }
 %>

</table>
</div>
</div>


<script type="text/javascript">

alert(data)
$("input[wfe-data]").each(function(){
  console.log($(this).attr("id"));
  if (data.doc[$(this).attr("id")]) $(this).val(data.doc[$(this).attr("id")])
})

</script>

</form>

